<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="demo_one.Properties.Settings.dbmasterfloorConnectionString"
            connectionString="Password=2264;Database=dbmasterfloor;Username=postgres;Host=localhost"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>